.card {
  cursor: pointer;
}

.selected {
  outline: 2px red solid;
}

.img-container {
    position: relative;
}

.eliminated-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}