<h2>
  What's the most recent episode you've seen?
</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit($event)">
    <mat-form-field appearance="fill">
      <mat-label>Week:</mat-label>
      <select matNativeControl [formControl]="week">
        <option *ngFor="let weekIndex of weeks" value="{{ weekIndex }}">
          {{ weekIndex }}
        </option>
      </select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Go</button>
  </form>
</mat-dialog-content>
