<h2>
  Most Recent Episode?
</h2>
<p>What's the most recent episode you've seen? <br> We won't show you any spoilers after that point.</p>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit($event)">
    <mat-form-field appearance="fill">
      <mat-label>Week:</mat-label>
      <select matNativeControl [formControl]="week">
        <option *ngFor="let weekIndex of weeks" value="{{ weekIndex }}">
          {{ weekIndex }}
        </option>
      </select>
    </mat-form-field>
    <button mat-raised-button color="red" type="submit">Go</button>
  </form>
</mat-dialog-content>
