form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem 0;
}

h2,
p {
  text-align: center;
}

.mat-red {
  background-color: var(--muted-red);
  color: white;
}

button {
  height: 3rem;
  width: 6rem;
  margin-bottom: 1.34375em;
}

mat-form-field {
  width: 9rem !important;
}

@media only screen and (max-width: 375px) {
  form {
    display: flex;
    flex-direction: column;
  }
}