<button mat-button mat-dialog-close>x</button>
<div class="container">
  <img alt="{{ contestantInfo.name }}" src="../../assets/contestants/{{ contestantInfo.photo_url }}.jpg" width="300px"/>

  <div>
    <h2>{{ contestantInfo.name }}</h2>
    <p>
      Age {{ contestantInfo.age }} <br />
      {{ contestantInfo.job }} <br />
      {{ contestantInfo.hometown }}
    </p>

    <p>
      <b>Limo Entrance:</b> <br>
      <span *ngIf="contestantInfo.entrance">{{ contestantInfo.entrance }}</span>
    </p>

    <p *ngIf="isEliminated">
      She was eliminated in week {{ contestantInfo?.week_elim }}.
    </p>
    <p *ngIf="!isEliminated">She has not been eliminated yet.</p>
  </div>
</div>
