<button mat-button mat-dialog-close>x</button>
<div class="container">
  <img alt="{{ contestantInfo.name }}" src="{{ contestantInfo.photo_url }}" />

  <div>
    <h2>{{ contestantInfo.name }}</h2>
    <p>
      Age {{ contestantInfo.age }} <br />
      {{ contestantInfo.job }} <br />
      {{ contestantInfo.hometown }}
    </p>

    <p>
      Her entrance was {{ contestantInfo.entrance }}. She's also notable for
      these things: {{ contestantInfo.notables }}.
    </p>

    <p *ngIf="isEliminated">
      She was eliminated in week {{ contestantInfo?.week_elim }}.
    </p>
    <p *ngIf="!isEliminated">She has not been eliminated yet.</p>
  </div>
</div>
