<div class="container">
  <header>
    <div class="banner">
      <h1>
        <span>the</span><br /><span>BACHELOR</span><br class="nospoilers-break"><span> (no spoilers)</span>
      </h1>

      <img class="bachelor" alt="Matt James" src="assets/mattjames.png" />
    </div>
    <div class="bar">
      <p>
        When you don't know who the f*ck is on screen but you're already behind.
      </p>
      <div>
        <label id="week_label">Week</label>
        <mat-form-field appearance="standard">
          <select
            matNativeControl
            [formControl]="week"
            aria-labelledby="week_label"
            (change)="updateWeek()"
          >
            <option *ngFor="let weekIndex of weeks" value="{{ weekIndex }}">
              {{ weekIndex }}
            </option>
          </select>
        </mat-form-field>
        <button mat-flat-button color="dark" (click)="showMoreInfo()">
          About
        </button>
      </div>
    </div>
  </header>

  <div class="content" role="main">
    <div *ngIf="error$ | async; else showContestants">
      WHOOPS COULDnT LOAD IT
    </div>
    <ng-template #showContestants>
      <div class="contestant-container">
        <app-contestant-card
          *ngFor="let contestant of contestants$ | async"
          [contestantInfo]="contestant"
        ></app-contestant-card>
      </div>
    </ng-template>
  </div>
  <footer>
    You can see more of my projects on my
    <a href="https://www.instagram.com/ifthencreate/" target="_blank">instagram</a> or
    <a href="https://github.com/reaganhenke/" target="_blank">github</a>.
  </footer>
</div>
