<header>
  <h1>Who TF Is That, no spoilers</h1>

  current week: {{ currentWeek$ | async }}


  <mat-form-field appearance="fill">
    <mat-label>Week:</mat-label>
    <select matNativeControl [formControl]="week">
      <option *ngFor="let weekIndex of weeks" value="{{ weekIndex }}">
        {{ weekIndex }}
      </option>
    </select>
  </mat-form-field>

</header>

<div class="content" role="main">
  <app-bachelor-card></app-bachelor-card>
  <hr>
  <app-contestant-card *ngFor="let contestant of contestants$ | async" [contestantInfo]="contestant"></app-contestant-card>
  <footer>this is made by reagan!!!!</footer>
</div>
