@import "/src/styles.scss";

header {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/rosesblur.png");
  background-size: cover;
  background-position: 10%;
}

button {
  font-size: inherit;
  font-weight: inherit;
  margin: 0 1rem;
}

.banner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  h1 {
    margin: 0.5rem 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-family: "Dancing Script", cursive;
    font-weight: normal;
    font-size: 4rem;
    line-height: 4rem;
    span:nth-of-type(2) {
      font-family: "Helvetica", sans-serif;
      font-weight: bold;
      font-size: 6rem;
    }
    span:nth-of-type(3) {
      font-size: 3rem;
      white-space: nowrap;
    }
  }
  .bachelor {
    width: 16rem;
    margin: 1rem 3rem 0 0;
  }
}

.bar {
  background-color: $muted-red;
  display: flex;
  color: white;
  justify-content: space-around;
  font-size: 1.1rem;
  p {
    line-height: 36px;
  }
}

.mat-dark {
  background-color: rgba(black, 0.2);
  color: white;
}

mat-form-field {
  margin: 0 0.5rem;
}

::ng-deep .bar {
  .mat-form-field-infix {
    width: 3rem !important;
    padding: 2px;
  }
}

.contestant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.content {
  padding: 2rem 1rem;
}

footer {
  background-color: $muted-red;
  text-align: center;
  color: white;
  font-size: 0.825rem;
  margin-top: 1rem;
  padding: 1rem;
  a {
    color: white;
  }
}

@media only screen and (max-width: 700px) {
  .content {
    padding: 1rem 0;
  }

  .bar p {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .banner h1 {
    margin: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .banner {
    h1 {
      line-height: 3.5rem;

      span:nth-of-type(1) {
        font-size: 10vw;
      }
      span:nth-of-type(2) {
        font-size: 15vw;
      }
      span:nth-of-type(3) {
        font-size: 7vw;
      }
    }

    .bachelor {
      width: 13rem;
      margin: 1rem 1rem 0 0;
    }
  }
}

@media only screen and (max-width: 380px) {
  .banner {
    h1 {
      line-height: 3rem;
    }
    .bachelor {
      width: 12rem;
      margin: 1rem 1rem 0 0;
    }
  }
}
