<button mat-button mat-dialog-close>x</button>

<h2>What is this?</h2>

<p>
  If you're like me, you're way behind in the Bachelor, but you can't catch up<br>
  because you don't remember who anybody is, and googling it would lead to<br>
  spoilers. I'm here to solve that problem. You can set the most recent episode<br>
  and will only see who has been eliminated <i>up until that point</i>.
</p>

<p>
  Now, I can't protect you from everything. If someone joins late, they're still<br>
  gonna show up here and you'll know they exist. Also, if someone does something<br>
  notable in a newer episode, it might be mentioned here even if you haven't<br>
  seen that far. Sorry about that.
</p>

<p>
  Also. This might not be totally up to date with the most recent episodes,<br>
  because as I said, I'm behind! If you find a bug or mistake, please let me know <br>
  at ifthencreate@gmail.com.
</p>
