@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Dancing+Script&display=swap");
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~@angular/material/theming";
@include mat-core();

$bachelor-primary: mat-palette($mat-gray, 900);
$bachelor-accent: mat-palette($mat-red, 800);
$bachelor-theme: mat-light-theme($bachelor-primary, $bachelor-accent);

@include angular-material-theme($bachelor-theme);

// $muted-red: #aa2323;

:root {
  --muted-red: #aa2323;
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: #33030c;
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}
